.principal {
    
    font-weight: 500;

}

/* h1 {
  color: rgba(89, 33, 30, 1.0);
  width: 880px;
  background: linear-gradient(to right top, hotpink, pink, darkred);
  margin: 80px 100px 100px 50px;
  padding: 20px;
  border: 15px solid white;
  border-top: 2px solid red;
  border-radius: 20px;
  text-shadow: 2px 3px 4px black;
  line-height: 2.5;
  letter-spacing: 2px;
  word-spacing: 4px;
  font-weight: bold;
  font-family: monospace;
  font-size: 40px;
}
*/ 