@font-face {
    font-family: "Space Grotesk";
    src: url("SpaceGrotesk-Regular.ttf");
}
html{
    background-image: url("bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: 600px;
    font-weight: 500;
    font-family: "Space Grotesk";
}

.l1 {
    position: absolute; top: 140px; left: 860px; right: 150px; bottom: 350px;
   
}

.l2 {
    position: absolute; top: 240px; left: 860px; right: 150px; bottom: 250px;
}

.l3 {
    position: absolute; top: 320px; left: 860px; right: 150px; bottom: 150px;
}

.l4 {
    position: absolute; top: 320px; left: 1090px; right: 150px; bottom: 150px;
}

button {
    position: absolute; top: 400px; left: 865px; right: 150px; bottom: 230px;
    background-color: purple;
    color: antiquewhite ;
    letter-spacing: 2px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-position: 40px;
}

img{
    position: absolute; top: 120px ; left: 200px; right: 300px;bottom: 410px;
}

.imagen1 {
    position: absolute; top: 400px ; left: 250px; right: 300px;bottom: 410px;
}

.cvv{
    color: azure;
    position: absolute; top: 500px; left: 600px; right: 300px; bottom: 410px;
    
}

.p1 {
    position: absolute; top: 190px; left: 860px; right: 150px; bottom: 310px;
}

.p2 {
    position: absolute; top: 280px; left: 860px; right: 150px; bottom: 200px;
}

.p3{
    position: absolute; top: 360px; left: 865px; right: 450px; bottom: 290px;
}

.p4 {
    position: absolute; top: 360px; left: 925px; right: 400px; bottom: 290px;
}

.p5 { 
    position: absolute; top: 360px; left: 1090px; right: 130px; bottom: 290px;
}


#result {
    font-family: "Space Grotesk";
    position: absolute; top: 120px ; left: 250px; right: 320px; bottom: 310px;
    font-size: 20px;
    color: white;
}