@font-face {
    font-family: "Space Grotesk";
    src: url("SpaceGrotesk-Regular.ttf");
}
html{
    background-image: url("bg-main-desktop.png");
    background-repeat: no-repeat;
    background-position: left;
    font-weight: 500;
}
.principal {
    font-family: "Space Grotesk";
    text-align: center;
}

h1 {
    position: absolute; top: 800 px; left: 800px; right: 150px; bottom: 350px;
   
}

h2 {
    position: absolute; top: 800 px; left: 670px; right: 150px; bottom: 250px;
}

h3 {
    position: absolute; top: 800 px; left: 685px; right: 150px; bottom: 150px;
}

h4 {
    position: absolute; top: 800 px; left: 990px; right: 150px; bottom: 150px;
}

button {
    position: absolute; top: 800 px; left: 865px; right: 150px; bottom: 50px;
    background-color: purple;
    color: antiquewhite ;
    letter-spacing: 2px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-position: 40px;
}

img{
    position: absolute; top: 120px ; left: 200px; right: 300px;bottom: 410px;
}

.imagen1 {
    position: absolute; top: 400px ; left: 250px; right: 300px;bottom: 410px;
}

.cvv{
    color: azure;
    position: absolute; top: 500px; left: 600px; right: 300px; bottom: 410px;
    
}

.p1 {
    position: absolute; top: 800 px; left: 860px; right: 150px; bottom: 310px;
}

.p2 {
    position: absolute; top: 800 px; left: 860px; right: 150px; bottom: 200px;
}

.p3{
    position: absolute; top: 800 px; left: 865px; right: 450px; bottom: 130px;
}

.p4 {
    position: absolute; top: 800 px; left: 925px; right: 400px; bottom: 130px;
}

.p5 { 
    position: absolute; top: 800 px; left: 1090px; right: 230px; bottom: 130px;
}

#result {
    font-family: "Space Grotesk";
    position: absolute; top: 120px ; left: 250px; right: 320px; bottom: 310px;
    font-size: 20px;
    color: white;
  }

#result1{
    font-family: "Space Grotesk";
    position: absolute; top: 120px ; left: 250px; right: 320px; bottom: 310px;
    font-size: 20px;
    color: white;
}

#result2 {
    font-family: "Space Grotesk";
    position: absolute; top: 120px ; left: 250px; right: 320px; bottom: 310px;
    font-size: 20px;
    color: white;
}

#result3 {
    font-family: "Space Grotesk";
    position: absolute; top: 120px ; left: 250px; right: 320px; bottom: 310px;
    font-size: 20px;
    color: white;
}

#result4 {
    font-family: "Space Grotesk";
    position: absolute; top: 120px ; left: 250px; right: 320px; bottom: 310px;
    font-size: 20px;
    color: white;
}
